.trending-container {
  display: flex;
}
.page-title-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  background-color: #ebebeb;
  padding: 30px;
  margin-bottom: 10px;
}

.icon-container {
  background-color: #d7dfe9;
  padding: 15px;
  border-radius: 100%;
}

.page-title {
  font-size: 30px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .page-title-container {
    flex-direction: row;
    align-items: center;
    padding: 20px;
  }

  .icon-container {
    margin-bottom: 10px;
  }

  .page-title {
    font-size: 24px;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .page-title-container {
    padding: 15px;
    gap: 10px;
  }

  .icon-container {
    padding: 10px;
  }

  .page-title {
    font-size: 20px;
  }
}

.failure-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.failure-image {
  width: 400px;
}
.failure-heading {
  margin-bottom: 0px;
  font-size: 25px;
}
failure-para {
  font-size: 20px;
}
.retry-button {
  width: 100px;
  padding: 10px;
  border: none;
  background-color: #4f46e5;
  color: #ffffff;
  border-radius: 5px;
}
